@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
	--almostwhite: hsl(0, 0%, 98%);
	--mediumgray: hsl(0, 0%, 41%);
	--almostblack: hsl(0, 0%, 8%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	font-family: 'Epilogue', sans-serif;
	overflow: hidden;
	background: var(--almostwhite);
}

/* Utility Classes */
li {
	list-style: none;
	margin: 0 2rem;
}

a {
	text-decoration: none;
	color: var(--mediumgray);
}

a:hover {
	cursor: pointer;
}

.btn {
	width: 150px;
	font-weight: 500;
	height: 50px;
	font-size: 1.2rem;
	color: white;
	border: 0;
	margin: 2rem 0;
	background-color: var(--almostblack);
	border-radius: 15px;
}

.btn:hover {
	cursor: pointer;
	transform: scale(0.99);
	color: black;
	background: white;
	border: 1px solid black;
}
/* Nav menu */
header {
	display: flex;
	width: 100%;
	padding: 2rem;
	align-items: center;
	justify-content: center;
	height: 50px;
}

header .nav-menu {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-left: 3rem;
}

.nav-menu .nav-section {
	display: flex;
}

.nav-menu .nav-login {
	display: flex;
}

.dropdown {
	position: relative;
}

.feature-list {
	visibility: hidden;
	position: absolute;
	margin: 0;
	padding: 1rem;
	right: 0;
	top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background: white;
	border-radius: 10px;
	font-size: 14px;
	font-weight: 500;
	box-shadow: 0 0 20px 1px rgb(194, 194, 194);
}

.feature-list > li {
	margin: 0.25rem 0;
	white-space: nowrap;
}

.feature-list li a img {
	margin: 0 0.5rem;
}

/* Section: About */

.about {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 8rem 0 8rem;
	height: 80vh;
}

.about-text {
	position: relative;
	flex: 1;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: left;
	margin: 0 4rem;
	justify-content: center;
}

.about-text h1 {
	font-weight: 700;
	font-size: 4rem;
	margin: 2rem 0;
	padding-top: 2rem;
}

.about-text p {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.4;
	color: var(--mediumgray);
	margin: 1rem 0;
}

.about-text .logos {
	display: flex;
	position: absolute;
	bottom: 0;
	left: 0;
	padding-right: 3rem;
	justify-content: space-around;
}

.about-text .logos img {
	margin: 0 1rem;
	transform: scale(0.75);
	height: auto;
}

.about > img {
	height: 100%;
}
